Starting

In [41]:
print("hello world")

hello world

Importing CSV file and reading it

In [2]:
import pyspark

In [2]:
import pandas as pd

In [43]:
dfpd = pd.read_csv("csvFiles/testfile.csv")
dfpd.head()

            name  age         city  gender
0       John Doe   28     New York    Male
1     Jane Smith   34  Los Angeles  Female
2  Alice Johnson   45      Chicago  Female
3      Bob Brown   23      Houston    Male

Creating spark session and reading file

In [44]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()
df = spark.read.csv("csvFiles/testfile.csv", header=True, inferSchema=True)
df.show()

+-------------+---+-----------+------+
|         name|age|       city|gender|
+-------------+---+-----------+------+
|     John Doe| 28|   New York|  Male|
|   Jane Smith| 34|Los Angeles|Female|
|Alice Johnson| 45|    Chicago|Female|
|    Bob Brown| 23|    Houston|  Male|
+-------------+---+-----------+------+

In [39]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- gender: string (nullable = true)

In [6]:
spark

In [7]:
df.show()

+-------------+---+-----------+------+
|         name|age|       city|gender|
+-------------+---+-----------+------+
|     John Doe| 28|   New York|  Male|
|   Jane Smith| 34|Los Angeles|Female|
|Alice Johnson| 45|    Chicago|Female|
|    Bob Brown| 23|    Houston|  Male|
+-------------+---+-----------+------+

In [13]:
df1 = spark.read.csv("testfile.csv")

In [20]:

df1.show()

+-------------+---+-----------+------+
|          _c0|_c1|        _c2|   _c3|
+-------------+---+-----------+------+
|         name|age|       city|gender|
|     John Doe| 28|   New York|  Male|
|   Jane Smith| 34|Los Angeles|Female|
|Alice Johnson| 45|    Chicago|Female|
|    Bob Brown| 23|    Houston|  Male|
+-------------+---+-----------+------+

In [22]:
spark.read.option("header", "true").csv("testfile.csv").show()

+-------------+---+-----------+------+
|         name|age|       city|gender|
+-------------+---+-----------+------+
|     John Doe| 28|   New York|  Male|
|   Jane Smith| 34|Los Angeles|Female|
|Alice Johnson| 45|    Chicago|Female|
|    Bob Brown| 23|    Houston|  Male|
+-------------+---+-----------+------+

In [23]:
spark

In [28]:
type(dfpd)

pandas.core.frame.DataFrame

In [29]:
type(df)

pyspark.sql.dataframe.DataFrame

In [30]:
df.head()

Row(name='John Doe', age='28', city='New York', gender='Male')

In [31]:
dfpd.head()

            name  age         city  gender
0       John Doe   28     New York    Male
1     Jane Smith   34  Los Angeles  Female
2  Alice Johnson   45      Chicago  Female
3      Bob Brown   23      Houston    Male

In [32]:
df.printSchema

In [40]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- gender: string (nullable = true)